*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
}
.container{
    display: flex;
    width: 100%;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .draggable{
        background-color: rgb(238, 47, 47);
        width: 100%;
        
        -webkit-user-select: none;
        -webkit-app-region: drag;
        ul{
            display: flex;
            justify-items: center;
            justify-content: space-between;
            font-size: small;
            max-width: 100%;
            padding: 10px 30px;
            li{
                color: #fff;
                &:nth-child(1){
                    padding-top: 0px;
                }
                &:nth-child(2){
                    padding-right: 60px;
                }
                padding-top: 0px;
            }
        }
    }
    h1{
        padding-top: 2em;
    }
    input{
        margin-top: 25px;
        padding: 10px;
        color: #000;
        border: 1px solid #000;
        border-radius: 5px;
        font-size: 17px;
        outline: 0;
        &:focus{
            border-color: #8bb8fc;
            box-shadow: 1px 0px 20px #6ca2f1;
        }
    }
    button{
        margin-top: 15px;
        background-color: rgb(247, 35, 35);
        color: wheat;
        padding: 7px 20px;
        border-radius: 8px 5px;
        &:hover{
            background-color: rgb(238, 47, 47);
            cursor: pointer;
        }
    }
    ul{
        list-style-type: none;
        max-width: 250px;
        li{
            font-size: 20px;
            color: black;
            &:nth-child(1){
                padding-top: 15px;
            }
            padding-top: 10px;
            button{
                padding: 5px 5px;
                margin-left: 15px;
            }
        }
    }
}